html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #a3a3a3;
}

header {
    text-align: center;
}

.form {
    width: 100%;

    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

.question, .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    margin: 5rem 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding: 2.5px 7px;
    margin: 0 5px;
}

input[type="radio"]:checked + label {
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3a3a3a;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 5px 0 0 0;
}

#btn_sub {
    width: 100px;
    height: 30px;
    margin: auto;
    background-color: #a3a3a3;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}

#btn_sub:active {
    background-color: #3a3a3a;
    border: 1px solid #a3a3a3;
    color: #ffffff;
    border-radius: 5px;
}
